%field-styles {
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
}

.form-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

label:not(.img-label) {
  font-weight: 600;
  display: block;
  margin-bottom: .5em;
}

input:not([type=file]) {
  @extend %field-styles;
}

input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

  & + label {
    @include button();
    @include button-secondary();
    color: $button-add;
    cursor: pointer;
  }
}

textarea {
  @extend %field-styles;
  resize: none;
  min-height: 10em;
}

.recipe-new,
.recipe-edit {
  width: span(8);
  @include cardLayout;
}
