@import '~susy/sass/susy';
@import '/mixins/__import';
@import '/utils/__import';
@import '/utils/images';
@import '/globals/__import';
@import '/components/__import';

html {
    font-size: 100%;
}

body {
    background-color: $background-color;
    color: $copy-dark;
}
